@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        @apply font-primaryFont
    }


    .burger-line {
        @apply w-8 bg-gradient-to-r from-[#F47C20] to-[#F59A43];
        border-radius: 1px;
        height: 3px;
    }

    .myTitle {
        @apply font-titleFont text-[#F59A43] text-2xl pb-9 w-52;

    }

    .text {
        @apply text-secondaryColor text-xl py-6;
    }

    .btn-primary-dark {
        @apply text-xl;
        text-align: center;
        background-color: transparent;
        color: #F59A43;
        border: 2px solid #F47C20;
        border-radius: 4px;
        padding: 0.8rem 1rem 0.8rem 1rem;
        /* width: max-content; */
        width: 12.5rem;
        cursor: pointer;
    }

    .separator {
        @apply bg-backgroundSecondary mb-8;
        width: 100%;
        height: 2px;
    }

    .section-container {
        @apply w-[80%] flex flex-col mx-auto justify-between pt-24;
    }

}