<div class="navbar-container">
    <div class="navbar-body">
        <a href="#" class="navbar--link-home">
            <img class="navbar--logo-home" src="assets/images/LogoPersonalBranding.svg" alt="logo-web">
        </a>    
        <button class="main-button">Descarga mi CV</button>
        <div class="navbar--icons-container">
            <img class="navbar--icon-theme" src="assets/images/icons/lightTheme.svg" alt="lightTheme">
            <img class="navbar--icon-language"src="assets/images/icons/english-language.png" alt="english">
            <img class="navbar--icon-language" src="assets/images/icons/spanish-language.png" alt="spanish">
        </div>
    </div>
</div>
