<div class="intro-container">
    <div>
        <h3 class="greeting-text">Hello there!</h3>
    <h1 class="name-intro">soy Gabriel Sánchez</h1>
    <h2 class="title-intro">desarrollador web</h2>
    <p class="description-intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut.
    </p>
    <button class="main-button">Pásate a saludar</button>
    </div>
    <img class="logo-fondo" src="assets/images/LogoFondo.svg" alt="logo-fondo">
</div>
