:root {
    --backgroundPrimary: #01131D;
    --backgroundSecondary: #013747;
    --textSecondary: #85A3B4;
    --textPrimary: #E6EBEF;
    --highlightColor: #F59A43;
}

html{
    background-color: var(--backgroundPrimary);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--textSecondary)
}
